// Definimos varialbes globales

*{
	padding: 0;
	margin: 0;
}

html{
		font-size: 62.5%;
}

// scss-docs-start theme-color-variables
$primary:       white;
$secondary:     black;
$success:       blue;
$info:          #C09247;
$warning:       $yellow;
$danger:        $red;
$light:         #CAB387;
$dark:          #F2EBE0;
// scss-docs-end theme-color-variables

/*GRIDS*/

.grid-layout{

	display: grid;
	grid-template-areas: 'header header'
				 		 		'main main'
				 		 		'footer footer';
	grid-template-rows: 0.4fr auto 1fr;
}








