/*GENERAL SETTINGS*/

body {
    font-size: 1.2rem;
    font-family: $mainFont;
    line-height: 1.5rem;
    font-weight: 300;
    color: $secondary;
    margin: 5px;
    height: 100vh;
    width: 99vw;
    margin: auto;
    background-color: $dark;
}

main {
    grid-area: main;
    background-color: $dark;
    text-align: center;
}

/*LINKS*/
.aD {
    color: $secondary;
    font-weight: 600;
    &:hover{
        color: $success;
        transition: 1s;    
    }
}

.scale:hover{
    transform: scale(1.1);
    transition: 1s;
}

/*CARDS*/

.cardP{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.cardImg{

    &:hover{
        opacity: 0.5;
        transition: 1s;
    }
}

#bg-info{
    background-color: $dark;
}

/*GEOGRAFIA*/

span {
    font-weight: 600;
}

/*IMAGES*/

.img {
    max-width: 300px;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 5px;
}

/*DATOS UTILES*/

.dir {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#bgAccordion {
    background-color: $dark;
}

.minHeight{
    min-height: 750px;
}

/*404*/
.img-404 {
    height: 22vh;
    background-image: url(../img/seal-404.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 	margin: auto;
	margin: 15px;
    border-radius: 15px;
}

.img-404:hover {
    background-image: url(../img/seal-404Ok.jpg);
    transition: 2s;
}

.divHw{
	max-width: 576px;
	max-height: 435px;
	margin: auto;
}


@media only screen and (min-width: 576px) {

    body {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .img {
        max-width: 500px;
    }

    .img-404 {
	height: 40vh;
	}

}


@media only screen and (min-width: 768px) {

    body {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    main {
        grid-area: main;
        padding: 10px;
    }

    .img {
        max-width: 720px;
    }

    .img-404 {
    	height: 435px;
    	width: 576px;
	}

}

@media only screen and (min-width: 992px) {

    .img {
        max-width: 940px;
    }

    .flexDiv {
        display: flex;
        flex-direction: row;
        margin-bottom: 5rem;
    }

    .parrafo {
        display: flex;
        align-items: center;
    }

}

@media only screen and (min-width: 1200px) {


}
